{
    "parser": "babel-eslint",
    "extends": "react-app",
    "plugins": [
        "react",
        "jsx-a11y",
        "import",
        "react-native"
    ],
    "rules": {
      "jsx-a11y/href-no-hash": "off"
    }
}